<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Jovian Careers</title>
    <style>
      #banner{
        width: 100%;
        height: 420px;
        object-fit: cover;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1 class="text-center" >Jovian Careers</h1>
    <img class="fluid" id="banner" src="https://jovian-careers-website.simbachawanda.repl.co/static/banner.jpg">

    <h2 class="text-center mt-4 mb-4">About Jovian</h2>
    <p class="lead">
      Welcome to the Jovian careers site where          you can find information about currrent           openings.
    </p>
    <h2 class="text-center mt-2 mb-4">Open positions</h2> 
    <p>
      {% for job in jobs%}
        {% include 'jobitem.html' %}
      {% endfor %}
      
    </p>
    
    <div class="text-center">
    <button class="btn btn-primary btn-lg"> Contact us</button>
    </div>
     </div>
    
  </body>
  
</html>